body {
  @include center();
  background: $col-gradient-1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $col-gradient-2,
    $col-gradient-1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $col-gradient-2,
    $col-gradient-1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $col-lightest !important;
}

footer {
  bottom: 0;
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
